body {
  background-color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: pulse 1s ease-in-out infinite;
  background-image: url('./icon.png');
  background-size: 102%;
  background-position: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
