body {
  background-color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: pulse 5s ease-in-out infinite, spin 5s linear infinite;
  background-image: url('./icon.png');
  background-size: 102%;
  background-position: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
